In [2]:
import pandas as pd

In [4]:
workout_data = pd.read_excel(r'C:\Users\sbogu\Documents\DataSets\WorkoutLog\workout_data.xlsx')

In [5]:
workout_data

,Barbell Bench,Seated Tricep Extension,Seated DB Lateral Raises,Deadlifts,Cable Rows,Chest Supported Row,Seated Rows,Facepulls,Hammer Curls,Dumbbell Curls,...,Dumbbell Pullovers,Standing Cable Flys,Pec Deck,Skullcrushers,Upward Row,Cable Pulldowns,Landmind Press,Romanian Deadlifts,Burpees,Decline Barbell
0,175.0,30.0,20.0,225.0,145.0,105.0,160.0,90.0,25.0,20.0,...,55.0,27.0,170.0,65.0,45.0,60.0,80.0,185.0,20.0,165.0
1,165.0,45.0,20.0,285.0,160.0,110.0,180.0,80.0,30.0,20.0,...,60.0,NaN,NaN,65.0,NaN,60.0,NaN,NaN,25.0,NaN
2,165.0,50.0,20.0,285.0,160.0,110.0,NaN,80.0,35.0,20.0,...,70.0,NaN,NaN,NaN,NaN,70.0,NaN,NaN,20.0,NaN
3,185.0,55.0,20.0,285.0,160.0,115.0,NaN,90.0,35.0,25.0,...,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,NaN
4,185.0,60.0,20.0,NaN,175.0,125.0,NaN,80.0,35.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,NaN
5,185.0,60.0,20.0,NaN,NaN,NaN,NaN,100.0,35.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,195.0,60.0,25.0,NaN,NaN,NaN,NaN,100.0,40.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,205.0,60.0,25.0,NaN,NaN,NaN,NaN,110.0,40.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,60.0,25.0,NaN,NaN,NaN,NaN,120.0,40.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,65.0,25.0,NaN,NaN,NaN,NaN,120.0,40.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,65.0,27.5,NaN,NaN,NaN,NaN,120.0,40.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,27.5,NaN,NaN,NaN,NaN,120.0,40.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,27.5,NaN,NaN,NaN,NaN,120.0,45.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,27.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

NameError: name 'df' is not defined

In [7]:
df = workout_data

In [10]:
barbell_bench = df[["Barbell Bench"]]

In [11]:
barbell_bench

    Barbell Bench
0           175.0
1           165.0
2           165.0
3           185.0
4           185.0
5           185.0
6           195.0
7           205.0
8             NaN
9             NaN
10            NaN
11            NaN
12            NaN
13            NaN

In [57]:
barbell_data = barbell_bench.values.tolist()
str(barbell_data[8][0])
whi

'nan'

In [29]:
def removeNan(data):
    count = 0
    for value in data:    
        count+=1
        print(count)
        if value == [nan]:
            return

In [56]:
index = 0

0 [175.0]
0 [165.0]
0 [165.0]
0 [185.0]
0 [185.0]
0 [185.0]
0 [195.0]
0 [205.0]
0 [nan]
0 [nan]
0 [nan]
0 [nan]
0 [nan]
0 [nan]
0 [nan]
0 [nan]
0 [nan]
0 [nan]
0 [nan]
0 [nan]

In [38]:
type(barbell_data[8])

list